	<h3 class= "header">Likelion 5th</h3>
	<div class="name">
		<h1>멋쟁이 사자처럼</h1>
		<h3>Let's Asciify</h3>
	</div>
	
		<pre><%=@output%></pre>
	
	
	<form action="home/index3" method="post">
		
		<h2 class="a">Select Font</h2>
		<select class="a" name="input_font">
	      <option value="standard">일반</option>
	      <option value="big">크게</option>
	      <option value="thin">얇게</option>
	  	</select>
	  	
	  	<h2 class="a">이름을 입력하세요!</h2>
		<input class="a" type="text" name="db_name">
		
		<h2 class="a">Email 주소를 입력하세요</h2>
		<input class="a" type="text" name="db_email">
		
		<h2 class="a">핸드폰 번호를 입력하세요</h2>
		<input class="a" type="text" name="db_num">
		
		<input class="b" type="submit" value="Asciify!">
	</form>